/* basse.scss */
.col2 {
  width: 144px;
  float: left;
  margin: 0 20px 20px 0;
}

.col3 {
  width: 226px;
  float: left;
  margin: 0 20px 20px 0;
}

.col4 {
  width: 308px;
  float: left;
  margin: 0 20px 20px 0;
}

.col5 {
  width: 390px;
  float: left;
  margin: 0 20px 20px 0;
}

.col6 {
  width: 472px;
  float: left;
  margin: 0 20px 20px 0;
}

.col7 {
  width: 554px;
  float: left;
  margin: 0 20px 20px 0;
}

.col8 {
  width: 636px;
  float: left;
  margin: 0 20px 20px 0;
}

.col9 {
  width: 718px;
  float: left;
  margin: 0 20px 20px 0;
}

.col10 {
  width: 800px;
  float: left;
  margin: 0 20px 20px 0;
}

.colr {
  float: right;
  margin: 0 0 20px 0;
}

.clear {
  clear: both;
}

body {
  padding: 0;
  margin: 0;
}

#wrap {
  width: 964px;
  margin: 0 auto;
  padding: 0 20px;
}

.fl {
  margin: 0;
  height: 20px;
}
.fl .fl-icad {
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  margin: 0 0 0 5px;
  text-indent: -9999px;
  background: url("img/fl-icad.png");
}
.fl .fl-mail {
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  margin: 0 0 0 5px;
  text-indent: -9999px;
  background: url("img/fl-mail.png");
}
.fl .fl-admi {
  display: block;
  float: right;
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background: url("img/fl-admi.png");
}

h1 {
  font-size: 30px;
  line-height: 40px;
  margin: 0 0 40px 0;
  color: #00366f;
}

h2 {
  font-size: 30px;
  line-height: 30px;
  margin: 0 0 20px 0;
}

h3 {
  font-size: 20px;
  line-height: 20px;
  margin: 0 0 20px 0;
}

h4 {
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

h5 {
  font-size: 15px;
  line-height: 20px;
  margin: 0;
}

h6 {
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}

p {
  line-height: 20px;
  margin: 0 0 20px 0;
}

a {
  color: #00366f;
}

ul {
  margin: 0 0 20px 0;
  padding: 0 0 0 16px;
}
ul li {
  margin: 0;
  padding: 0;
  line-height: 20px;
}
ul li ul {
  margin: 0;
}

ol {
  margin: 0 0 20px 0;
  padding: 0 0 0 24px;
}
ol li {
  margin: 0;
  padding: 0;
  line-height: 20px;
}
ol li ol {
  margin: 0;
}

.options {
  margin: 0 0 20px 0;
  padding: 0;
  list-style: none;
  border-top: 1px dotted #cccccc;
}
.options li {
  margin: 0;
  padding: 0;
}
.options a {
  display: block;
  padding: 5px;
  border-bottom: 1px dotted #cccccc;
  text-decoration: none;
}
.options a:hover {
  background: #f8f8f8;
}
.options .current a {
  font-weight: bold;
  background: #f8f8f8;
}

.carousel {
  padding: 10px;
  background: #cccccc;
  height: 260px;
  margin: 0 0 20px 0;
}

.slides {
  border: 1px solid white;
  position: relative;
}
.slides div {
  height: 240px;
}
.slides div p {
  position: absolute;
  bottom: 20px;
  right: 0;
  margin: 0;
  padding: 20px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
}

#slidepager a {
  display: block;
  float: left;
  margin: 5px 5px 0 0;
  width: 15px;
  height: 15px;
  background: white;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
}

#slidepager a.activeSlide {
  background: yellow;
}

.main_menu {
  margin: 0;
  padding: 20px 0 0 0;
  float: right;
  list-style: none;
}
.main_menu li {
  margin: 0;
  padding: 0;
  float: left;
}
.main_menu li a {
  display: block;
  height: 32px;
  line-height: 32px;
  padding: 0 16px;
  text-decoration: none;
}
.main_menu li a:hover {
  background-color: #f4f4f4;
  -moz-transition: background-color linear 200ms;
  -o-transition: background-color linear 200ms;
  -webkit-transition: background-color linear 200ms;
  transition: background-color linear 200ms;
}
.main_menu .active a {
  background-color: #f4f4f4;
}

table {
  margin: 0 0 20px 0;
  padding: 0;
  border-collapse: collapse;
  border: 0;
}
table thead tr th {
  padding: 8px;
  border: 0;
  text-align: left;
}
table tbody tr td {
  padding: 8px;
  border: 0;
}

.table-list {
  border-top: 1px solid #cccccc;
}
.table-list thead tr th {
  border-bottom: 1px solid #cccccc;
}
.table-list tbody tr td {
  padding: 8px;
  border: 0;
  border-bottom: 1px dotted #cccccc;
}
.table-list tbody tr:nth-of-type(odd) td, .table-list tbody tr.tr-odd td {
  background: #f8f8f8;
}

.imgl {
  float: left;
  margin: 0 20px 20px 0;
}

.imgr {
  float: right;
  margin: 0 0 20px 20px;
}

.imgc {
  display: block;
  margin: 0 auto 20px auto;
}

.imgb {
  padding: 4px;
  border: 1px solid #cccccc;
}

.txtc {
  text-align: center;
}

.txtr {
  text-align: right;
}

pre {
  padding: 9px;
  border: 1px dotted #cccccc;
  background: white;
  font-family: monospace;
  margin: 0 0 20px 0;
  line-height: 20px;
}

blockquote {
  margin: 0 0 20px 10px;
  padding: 0 10px 0 0;
}
blockquote p {
  font-size: 110%;
  line-height: 20px;
  border-left: 2px solid #cccccc;
  padding-left: 10px;
}

#sd_alert {
  width: 100%;
  position: fixed;
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  top: 0;
  left: 0;
  z-index: 999;
  overflow: hidden;
  text-shadow: 0 0 3px black;
  -webkit-box-shadow: 0 0 10px black rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px black rgba(0, 0, 0, 0.5);
  -ms-box-shadow: 0 0 10px black rgba(0, 0, 0, 0.5);
  -o-box-shadow: 0 0 10px black rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px black rgba(0, 0, 0, 0.5);
}

.sd_alert_success {
  background: #339900;
  color: white;
}

.sd_alert_error {
  background: red;
  color: white;
}

.sd_alert_info {
  background: #0066cc;
  color: white;
}

.sd_alert_warning {
  background: #ffcc00;
  color: white;
}

.sd_p_msg {
  margin: 0 0 vgrid/2 0;
  padding: 4px 4px 4px 20px;
  clear: both;
  border-radius: 4px;
  -ms-border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  background-position: 2px 50%;
  background-repeat: no-repeat;
}

.p_error {
  color: red;
  border: 1px solid red;
  background-color: #ffe5e5;
  background-image: url("img/icon_error.png");
}

.p_warning {
  color: #534200;
  border: 1px solid #ffcc00;
  background-color: #fffae5;
  background-image: url("img/icon_warning.png");
}

.p_help {
  color: #0066cc;
  border: 1px solid #0066cc;
  background-color: #e5effa;
  background-image: url("img/icon_help.png");
}

.p_success {
  color: #336600;
  border: 1px solid #336600;
  background-color: #eaefe5;
  background-image: url("img/icon_success.png");
}

.pager {
  margin: 20px 0;
  text-align: center;
}
.pager a {
  border: 1px solid #cccccc;
  padding: 4px 6px;
  text-decoration: none;
}
.pager a:hover {
  background-color: #ededed;
}
.pager .current {
  background-color: #ededed;
}

/**
 * jQuery lightBox plugin
 * This jQuery plugin was inspired and based on Lightbox 2 by Lokesh Dhakar (http://www.huddletogether.com/projects/lightbox2/)
 * and adapted to me for use like a plugin from jQuery.
 * @name jquery-lightbox-0.5.css
 * @author Leandro Vieira Pinho - http://leandrovieira.com
 * @version 0.5
 * @date April 11, 2008
 * @category jQuery plugin
 * @copyright (c) 2008 Leandro Vieira Pinho (leandrovieira.com)
 * @license CC Attribution-No Derivative Works 2.5 Brazil - http://creativecommons.org/licenses/by-nd/2.5/br/deed.en_US
 * @example Visit http://leandrovieira.com/projects/jquery/lightbox/ for more informations about this jQuery plugin
 */
#jquery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  width: 100%;
  height: 500px;
}

#jquery-lightbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  text-align: center;
  line-height: 0;
}

#jquery-lightbox a img {
  border: none;
}

#lightbox-container-image-box {
  position: relative;
  background-color: #fff;
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

#lightbox-container-image {
  padding: 10px;
}

#lightbox-loading {
  position: absolute;
  top: 40%;
  left: 0%;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

#lightbox-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

#lightbox-container-image-box > #lightbox-nav {
  left: 0;
}

#lightbox-nav a {
  outline: none;
}

#lightbox-nav-btnPrev, #lightbox-nav-btnNext {
  width: 49%;
  height: 100%;
  zoom: 1;
  display: block;
}

#lightbox-nav-btnPrev {
  left: 0;
  float: left;
}

#lightbox-nav-btnNext {
  right: 0;
  float: right;
}

#lightbox-container-image-data-box {
  font: 10px Verdana, Helvetica, sans-serif;
  background-color: #fff;
  margin: 0 auto;
  line-height: 1.4em;
  overflow: auto;
  width: 100%;
  padding: 0 10px 0;
}

#lightbox-container-image-data {
  padding: 0 10px;
  color: #666;
}

#lightbox-container-image-data #lightbox-image-details {
  width: 70%;
  float: left;
  text-align: left;
}

#lightbox-image-details-caption {
  font-weight: bold;
}

#lightbox-image-details-currentNumber {
  display: block;
  clear: left;
  padding-bottom: 1.0em;
}

#lightbox-secNav-btnClose {
  width: 66px;
  float: right;
  padding-bottom: 0.7em;
}

/* - - - - - - - - - - - - - - - - - - Form Styles */
.form fieldset {
  margin: 0;
  padding: 0;
  border: 0;
}
.form .sd_field {
  overflow: hidden;
}
.form .sd_radios, .form .sd_checkbox {
  padding-bottom: 10px;
}
.form label {
  display: block;
  line-height: 24px;
}
.form .sd_required label {
  font-weight: bold;
  line-height: 24px;
}
.form .sd_required label:after {
  content: "*";
  position: absolute;
  color: red;
  font-size: 10px;
  margin: 0 0 0 2px;
}
.form .sd_required p {
  font-weight: bold;
}
.form .sd_required p:after {
  content: "*";
  color: red;
  font-size: 10px;
  margin: 0 0 0 2px;
}
.form .sd_radios label, .form .sd_checkbox label {
  font-weight: normal;
  margin: 0;
  line-height: 15px;
}
.form .sd_radios label:after, .form .sd_checkbox label:after {
  content: "";
}
.form .sd_radios p, .form .sd_checkbox p {
  margin: 0;
}
.form .sd_field input[type="text"], .form .sd_field input[type="password"], .form .sd_field input[type="email"], .form .sd_field input[type="url"], .form .sd_field input[type="number"], .form .sd_field input[type="date"] {
  form-family: sans-serif;
  font-size: 14px;
  height: 16px;
  padding: 4px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 0 0 10px 0;
}
.form .sd_field input[type="text"]:focus, .form .sd_field input[type="password"]:focus, .form .sd_field input[type="email"]:focus, .form .sd_field input[type="url"]:focus, .form .sd_field input[type="number"]:focus, .form .sd_field input[type="date"]:focus {
  border-color: #999999;
  outline: none;
}
.form .sd_email input[type="email"], .form .sd_email input[type="text"] {
  background: url("img/icon_email.png") 1% 50% no-repeat;
  text-indent: 16px;
}
.form .sd_date input[type="date"], .form .sd_date input[type="text"] {
  background: url("img/icon_date.png") 1% 50% no-repeat;
  text-indent: 16px;
}
.form .sd_autocomplete input[type="text"] {
  background: url("img/icon_arrow_down.png") 98% 50% no-repeat;
}
.form .sd_url input[type="url"], .form .sd_url input[type="text"] {
  background: url("img/icon_world.png") 1% 50% no-repeat;
  text-indent: 16px;
}
.form .sd_field input[type="checkbox"], .form .sd_field input[type="radio"] {
  margin: 0 4px 5px 0;
  float: left;
}
.form .sd_textarea textarea {
  form-family: sans-serif;
  font-size: 14px;
  height: 100px;
  padding: 4px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin: 0 0 10px 0;
}
.form .sd_textarea textarea:focus {
  border-color: #999999;
  outline: none;
}
.form .sd_error input {
  border-color: red !important;
}
.form p.sd_error {
  font-size: 90%;
  color: red;
  margin: -10px 0 10px 0;
  padding: 2px;
  line-height: 15px;
  text-align: right;
  font-weight: normal;
}
.form p.sd_error:before {
  content: "!";
  font-weight: bold;
  font-family: Georgia, serif;
  margin: 0 2px 0 2px;
  color: red;
}
.form p.sd_error:after {
  content: "";
}
.form p.sd_help {
  font-size: 90%;
  color: #006699;
  background: #f2f7fa;
  padding: 2px 2px 2px 12px;
  font-weight: normal;
  line-height: 15px;
  margin: 0;
  clear: both;
}
.form p.sd_help:before {
  content: "i";
  font-weight: bold;
  font-family: Georgia, serif;
  margin: 0 3px 0 -7px;
  color: #99c2d6;
}
.form button, .form input[type="submit"], .form input[type="reset"] {
  border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid #001d3c;
  padding: 5px 10px;
  background-color: #0068d5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#0068d5), to(#00366f));
  background-image: -moz-linear-gradient(top, #0068d5, #00366f);
  background-image: -o-linear-gradient(top, #0068d5 0%, #00366f 100%);
  background-image: -ms-linear-gradient(top, #0068d5 0%, #00366f 100%);
  background-image: linear-gradient(top, #0068d5 0%, #00366f 100%);
  color: #cccccc;
  text-shadow: -1px -1px 0 #333333;
  cursor: pointer;
  margin: 0 0 0 20px;
  float: right;
}
.form button:hover, .form input[type="submit"]:hover, .form input[type="reset"]:hover {
  background-color: #00366f;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#00366f), to(#0068d5));
  background-image: -moz-linear-gradient(top, #00366f, #0068d5);
  background-image: -o-linear-gradient(top, #00366f 0%, #0068d5 100%);
  background-image: -ms-linear-gradient(top, #00366f 0%, #0068d5 100%);
  background-image: linear-gradient(top, #00366f 0%, #0068d5 100%);
}
.form button:active, .form input[type="submit"]:active, .form input[type="reset"]:active {
  background: #004289;
  -webkit-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5);
  -ms-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5);
  -o-box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5);
  box-shadow: inset 2px 2px 3px rgba(0, 0, 0, 0.5) rgba(0, 0, 0, 0.5);
}

.form_small {
  width: 308px;
  margin: 0 0 20px 0;
}
.form_small fieldset {
  width: 308px;
}
.form_small fieldset legend {
  display: none;
}
.form_small fieldset label {
  margin: 0;
}
.form_small fieldset .sd_radios label, .form_small fieldset .sd_checkbox label {
  width: 308px;
  line-height: 15px;
  clear: both;
}
.form_small fieldset input[type="text"], .form_small fieldset input[type="password"], .form_small fieldset .sd_field input[type="email"], .form_small fieldset .sd_field input[type="url"], .form_small fieldset .sd_field input[type="number"], .form_small fieldset .sd_field input[type="date"] {
  width: 298px;
}
.form_small fieldset textarea {
  width: 298px;
}

.form_medium {
  width: 472px;
  margin: 0 0 20px 0;
}
.form_medium fieldset {
  width: 472px;
}
.form_medium fieldset legend {
  display: none;
}
.form_medium fieldset label {
  width: 144px;
  float: left;
  margin: 0 0 10px 0;
}
.form_medium fieldset .sd_radios label, .form_medium fieldset .sd_checkbox label {
  width: 308px;
  margin-left: 144px;
}
.form_medium fieldset .sd_long_label label {
  display: block;
  width: 100%;
}
.form_medium fieldset .sd_long_label input[type="text"], .form_medium fieldset .sd_long_label input[type="password"], .form_medium fieldset .sd_long_label input[type="email"], .form_medium fieldset .sd_long_label input[type="url"], .form_medium fieldset .sd_long_label input[type="number"] {
  margin-left: 144px;
}
.form_medium fieldset .sd_field input[type="text"], .form_medium fieldset .sd_field input[type="password"], .form_medium fieldset .sd_field input[type="email"], .form_medium fieldset .sd_field input[type="url"], .form_medium fieldset .sd_field input[type="number"] {
  width: 318px;
}
.form_medium fieldset .sd_textarea textarea {
  width: 318px;
}
.form_medium fieldset p.sd_help {
  margin-left: 144px;
}

.form_large {
  width: 656px;
  margin: 0 0 20px -20px;
}
.form_large fieldset {
  margin: 0 0 0 20px;
  float: left;
  width: 308px;
}
.form_large legend {
  display: none;
}
.form_large label {
  width: 100%;
  float: left;
  margin: 0;
}
.form_large .sd_field input[type="text"], .form_large .sd_field input[type="password"], .form_large .sd_field input[type="email"], .form_large .sd_field input[type="url"], .form_large .sd_field input[type="number"] {
  width: 298px;
}
.form_large .sd_textarea textarea {
  width: 298px;
}
.form_large .wide {
  width: 636px;
}
.form_large .wide label {
  width: 144px;
}
.form_large .wide .sd_field input[type="text"], .form_large .wide .sd_field input[type="password"], .form_large .wide .sd_field input[type="email"], .form_large .wide .sd_field input[type="url"], .form_large .wide .sd_field input[type="number"] {
  width: 482px;
}
.form_large .wide .sd_field textarea {
  width: 482px;
}
.form_large .wide .sd_long_label label {
  display: block;
  width: 100%;
}
.form_large .wide .sd_long_label input[type="text"], .form_large .wide .sd_long_label input[type="password"], .form_large .wide .sd_long_label input[type="email"], .form_large .wide .sd_long_label input[type="url"], .form_large .wide .sd_long_label input[type="number"] {
  margin-left: 144px;
}
.form_large .wide .sd_long_label textarea {
  margin-left: 144px;
}

.form_full {
  width: 984px;
  margin: 0 0 20px -20px;
}
.form_full fieldset {
  margin: 0 0 0 20px;
  float: left;
  width: 472px;
}
.form_full legend {
  display: none;
}
.form_full label {
  width: 144px;
  float: left;
  margin: 0;
}
.form_full .sd_long_label label {
  display: block;
  width: 100%;
}
.form_full .sd_field input[type="text"], .form_full .sd_field input[type="password"], .form_full .sd_field input[type="email"], .form_full .sd_field input[type="url"], .form_full .sd_field input[type="number"] {
  width: 318px;
}
.form_full .sd_long_label input[type="text"], .form_full .sd_long_label input[type="password"], .form_full .sd_long_label input[type="email"], .form_full .sd_long_label input[type="url"], .form_full .sd_long_label input[type="number"] {
  margin-left: 144px;
}
.form_full .sd_textarea textarea {
  width: 318px;
}
.form_full .sd_long_label textarea {
  margin-left: 144px;
}
.form_full .wide {
  width: 964px;
}
.form_full .wide .sd_field input[type="text"], .form_full .wide .sd_field input[type="password"], .form_full .wide .sd_field input[type="email"], .form_full .wide .sd_field input[type="url"], .form_full .wide .sd_field input[type="number"] {
  width: 810px;
}
.form_full .wide .sd_textarea textarea {
  width: 810px;
}
.form_full .wide .sd_long_label label {
  display: block;
  width: 100%;
}
.form_full .wide .sd_long_label input[type="text"], .form_full .wide .sd_long_label input[type="password"], .form_full .wide .sd_long_label input[type="email"], .form_full .wide .sd_long_label input[type="url"], .form_full .wide .sd_long_label input[type="number"] {
  margin-left: 144px;
}
.form_full .wide .sd_long_label textarea {
  margin-left: 144px;
}

body {
  font-family: sans-serif;
  font-size: 14px;
  color: #333333;
  background-color: #282828;
}

#wrap {
  background: #FFFFFF;
}

#head {
  height: 100px;
}
#head h1 {
  margin: 0;
  float: left;
}
#head h1 a {
  display: block;
  width: 250px;
  height: 80px;
  background-image: url("img/logo.png");
  text-indent: -9999px;
}

#foot {
  border-top: 1px solid #CCC;
  font-size: 12px;
  padding: 20px 0;
  color: #999;
}
