/* basse.scss */
// Sass Framework
// Ramon Lapenta
// Version: 1.0

$wrap: $col * 12 + $gutter * 11;
@for $i from 2 through 10 {
    .col#{$i} {
        width: $col * $i + $gutter * $i - $gutter;
        float: left;
        margin: 0 $gutter $vgrid 0;
    }
}
.colr {
    float: right;
    margin: 0 0 $vgrid 0;
}
.clear {
    clear: both;
}

body {
    padding: 0;
    margin: 0;
}
#wrap {
    width: $wrap;
    margin: 0 auto;
    padding: 0 $gutter;
}

// - - - - - - - - - - - - - - - - - - Foot Styles
.fl {
    margin: 0;
    height: 20px;
    .fl-icad {
        display: block;
        float: right;
        width: 20px;
        height: 20px;
        margin: 0 0 0 5px;
        text-indent: -9999px;
        background: url('#{$img}fl-icad.png');
    }
    .fl-mail {
        display: block;
        float: right;
        width: 20px;
        height: 20px;
        margin: 0 0 0 5px;
        text-indent: -9999px;
        background: url('#{$img}fl-mail.png');
    }
    .fl-admi {
        display: block;
        float: right;
        width: 20px;
        height: 20px;
        text-indent: -9999px;
        background: url('#{$img}fl-admi.png');
    }
}