/* - - - - - - - - - - - - - - - - - - Form Styles */
.form {
    fieldset {
        margin: 0;
        padding: 0;
        border: 0;
    }
    .sd_field {
        overflow: hidden;
    }
    .sd_radios, .sd_checkbox {
        padding-bottom: $vgrid / 2;
    }
    label {
        display: block;
        line-height: 24px;
    }
    .sd_required label {
        font-weight: bold;
        line-height: 24px;
        &:after {
            content: "*";
            position: absolute;
            color: red;
            font-size: 10px;
            margin: 0 0 0 2px;
        }
    }
    .sd_required p {
        font-weight: bold;
        &:after {
            content: "*";
            color: red;
            font-size: 10px;
            margin: 0 0 0 2px;
        }
    }
    .sd_radios label, .sd_checkbox label {
        font-weight: normal;
        margin: 0;
        line-height: $vgrid - $vgrid / 4;
        &:after {
            content: "";
        }
    }
    .sd_radios p, .sd_checkbox p {
        margin: 0;
    }
    .sd_field input[type="text"], .sd_field input[type="password"], .sd_field input[type="email"], .sd_field input[type="url"], .sd_field input[type="number"], .sd_field input[type="date"] {
        form-family: sans-serif;
        font-size: $font_size;
        height: 16px;
        padding: $gutter / 4 - 1px;
        border: 1px solid $gray_light;
        @include radius($radius);
        margin: 0 0 $vgrid / 2 0;
        &:focus {
            border-color: #999999;
            outline: none;
        }
    }
    .sd_email input[type="email"], .sd_email input[type="text"] {
        background: url('#{$img}icon_email.png') 1% 50% no-repeat;
        text-indent: 16px;
    }
    .sd_date input[type="date"], .sd_date input[type="text"] {
        background: url('#{$img}icon_date.png') 1% 50% no-repeat;
        text-indent: 16px;
    }
    .sd_autocomplete input[type="text"] {
        background: url('#{$img}icon_arrow_down.png') 98% 50% no-repeat; }
    .sd_url input[type="url"], .sd_url input[type="text"] {
        background: url('#{$img}icon_world.png') 1% 50% no-repeat;
        text-indent: 16px;
    }
    .sd_field input[type="checkbox"], .sd_field input[type="radio"] {
        margin: 0 4px $vgrid / 4 0;
        float: left;
    }
    .sd_textarea textarea {
        form-family: sans-serif;
        font-size: $font_size;
        height: $vgrid * 5;
        padding: $gutter / 4 - 1px;
        border: 1px solid $gray_light;
        @include radius($radius);
        margin: 0 0 $vgrid / 2 0;
        &:focus {
            border-color: #999999;
            outline: none;
        }
    }
    .sd_error input {
        border-color: red !important;
    }
    p.sd_error {
        font-size: 90%;
        color: red;
        margin: -$vgrid / 2 0 $vgrid / 2 0;
        padding: 2px;
        line-height: $vgrid / 2 + $vgrid / 4;
        text-align: right;
        font-weight: normal;
        &:before {
            content: "!";
            font-weight: bold;
            font-family: Georgia, serif;
            margin: 0 2px 0 2px;
            color: red;
        }
        &:after {
            content: "";
        }
    }
    p.sd_help {
        font-size: 90%;
        color: #006699;
        background: #f2f7fa;
        padding: 2px 2px 2px 12px;
        font-weight: normal;
        line-height: $vgrid / 2 + $vgrid / 4;
        margin: 0;
        clear: both;
        &:before {
            content: "i";
            font-weight: bold;
            font-family: Georgia, serif;
            margin: 0 3px 0 -7px;
            color: #99c2d6;
        }
    }
    button, input[type="submit"], input[type="reset"] {
        @include radius($radius);
        border: 1px solid darken($highlight, 10%);
        padding: 5px 10px;
        @include gradients(lighten($highlight, 20%), $highlight);
        color: invert($color);
        text-shadow: -1px -1px 0 $color;
        cursor: pointer;
        margin: 0 0 0 $gutter;
        float: right;
        &:hover {
            @include gradients($highlight, lighten($highlight, 20%));
        }
        &:active {
            background: lighten($highlight, 5%);
            @include box-shadow(inset 2px, 2px, 3px, rgba(0, 0, 0, 0.5));
        }
    }
}
