// - - - - - - - - - - - - - - - - - - Form Medium
.form_medium {
    width: $col * 6 + $gutter * 5;
    margin: 0 0 $vgrid 0;
    fieldset {
        width: $col * 6 + $gutter * 5;
        legend {
            display: none; 
        }
        label {
            width: $col * 2 + $gutter;
            float: left;
            margin: 0 0 $vgrid / 2 0; 
        }
        .sd_radios label, .sd_checkbox label {
            width: $col * 4 + $gutter * 3;
            margin-left: $col * 2 + $gutter; 
        }
        .sd_long_label label {
            display: block;
            width: 100%; 
        }
        .sd_long_label input[type="text"], .sd_long_label input[type="password"], .sd_long_label input[type="email"], .sd_long_label input[type="url"],    .sd_long_label input[type="number"] {
            margin-left: $col * 2 + $gutter; 
        }
        .sd_field input[type="text"], .sd_field input[type="password"], .sd_field input[type="email"], .sd_field input[type="url"],    .sd_field input[type="number"] {
            width: $col * 4 + $gutter * 4 - $gutter / 2; 
        }
        .sd_textarea textarea {
            width: $col * 4 + $gutter * 4 - $gutter / 2; 
        }
        p.sd_help {
            margin-left: $col * 2 + $gutter; 
        }
    }
}