// - - - - - - - - - - - - - - - - - - Form Small
.form_small {
    width: $col * 4 + $gutter * 3;
    margin: 0 0 $vgrid 0;
    fieldset {
        width: $col * 4 + $gutter * 3;
        legend {
            display: none; 
        }
        label {
            margin: 0; 
        }
        .sd_radios label, .sd_checkbox label {
            width: $col * 4 + $gutter * 3;
            line-height: $vgrid - $vgrid / 4;
            clear: both; 
        }
        input[type="text"], input[type="password"], .sd_field input[type="email"], .sd_field input[type="url"],    .sd_field input[type="number"], .sd_field input[type="date"] {
            width: $col * 4 + $gutter * 3 - $gutter / 2; 
        }
        textarea {
            width: $col * 4 + $gutter * 3 - $gutter / 2; 
        }
    }
}