// - - - - - - - - - - - - - - - - - - Common Mixins

// BORDER RADIUS
@mixin radius($radius) { 
    border-radius: $radius;
    -ms-border-radius: $radius;
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
} 

// BOX SHADOWS
@mixin box-shadow($x: 0, $y: 0, $radius: 4px, $spread: 0, $color: rgba(0,0,0,0.5)) {
    -webkit-box-shadow: $x $y $radius $spread $color;
    -moz-box-shadow: $x $y $radius $spread $color;
    -ms-box-shadow: $x $y $radius $spread $color;
    -o-box-shadow: $x $y $radius $spread $color; 
    box-shadow: $x $y $radius $spread $color; 
}

// CSS3 GRADIENTS
@mixin gradients($first, $second) {
    background-color: $first;
    background-image: -webkit-gradient(linear, left top, left bottom, from($first), to($second));
    background-image: -moz-linear-gradient(top,    $first,    $second);
    background-image: -o-linear-gradient(top, $first 0%, $second 100%);
    background-image: -ms-linear-gradient(top, $first 0%, $second 100%);
    background-image: linear-gradient(top, $first 0%, $second 100%);
}

// BOX SIZING
@mixin box-sizing($type: border-box) {
    -webkit-box-sizing: $type;
    -moz-box-sizing: $type;
    -ms-box-sizing: $type;
    -o-box-sizing: $type; 
    box-sizing: $type; 
}

// OTHER MIXINS
@mixin opacity($opac) {
    filter: alpha(opacity=$opac * 100);
    -ms-filter: alpha(opacity=$opac * 100);
    -moz-opacity: $opac;
    -webkit-opacity: $opac;
    opacity: $opac;
}
@mixin transition($value) {
    -moz-transition: $value;
    -o-transition: $value;
    -webkit-transition: $value;
    transition: $value;
}
@mixin rotate($deg) {
    transform: rotate(#{$deg});
    -webkit-transform: rotate(#{$deg});
    -moz-transform: rotate(#{$deg});
    -o-transform: rotate(#{$deg});
    -ms-transform: rotate(#{$deg});
}
@mixin animation($options) {
    -webkit-animation: $options;
    -moz-animation: $options;
    -ms-animation: $options;
}