// - - - - - - - - - - - - - - - - - - Menu Styles
.main_menu {
    margin: 0;
    padding: 20px 0 0 0;
    float: right;
    list-style: none;
    li {
        margin: 0;
        padding: 0;
        float: left;
        a {
            display: block;
            height: 32px;
            line-height: 32px;
            padding: 0 16px;
            text-decoration: none;
            &:hover {
                background-color: #f4f4f4;
                @include transition(background-color linear 200ms);
            }
        }
    }
    .active a {
        background-color: #f4f4f4;
    }
}