// - - - - - - - - - - - - - - - - - - Slider
.carousel {
    padding: 10px;
    background: #cccccc;
    height: 260px;
    margin: 0 0 $vgrid 0;
}
.slides {
    border: 1px solid white;
    position: relative;
    div {
        height: 240px;
    }
    div p {
        position: absolute;
        bottom: 20px;
        right: 0;
        margin: 0;
        padding: 20px;
        color: white;
        background: rgba(0, 0, 0, 0.8);
    }
}

#slidepager a {
    display: block;
    float: left;
    margin: 5px 5px 0 0;
    width: 15px;
    height: 15px;
    background: white;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
}

#slidepager a.activeSlide {
    background: yellow;
}