// - - - - - - - - - - - - - - - - - - Tables
table {
    margin: 0 0 $vgrid 0;
    padding: 0;
    border-collapse: collapse;
    border: 0;
    thead tr th {
        padding: 8px;
        border: 0;
        text-align: left;
    }
    tbody tr td {
        padding: 8px;
        border: 0;
    }
}
.table-list {
    border-top: 1px solid $gray_light;
    thead tr th {
        border-bottom: 1px solid $gray_light;
    }
    tbody tr td {
        padding: 8px;
        border: 0;
        border-bottom: 1px dotted $gray_light;
    }
    tbody tr:nth-of-type(odd) td, tbody tr.tr-odd td {
        background: $zebra_bg;
    }
}
