// - - - - - - - - - - - - - - - - - - Basic Text Styles
h1 {
    font-size: ceil($vgrid + $vgrid / 2);
    line-height: ceil($vgrid * 2);
    margin: 0 0 $vgrid * 2 0;
    color: $highlight;
}
h2 {
    font-size: ceil($vgrid + $vgrid / 2);
    line-height: ceil($vgrid + $vgrid / 2);
    margin: 0 0 $vgrid 0;
}
h3 {
    font-size: $vgrid;
    line-height: $vgrid;
    margin: 0 0 $vgrid 0;
}
h4 {
    font-size: ceil($vgrid - $vgrid / 5);
    line-height: $vgrid;
    margin: 0;
}
h5 {
    font-size: ceil($vgrid - $vgrid / 4);
    line-height: $vgrid;
    margin: 0;
}
h6 {
    font-size: $font_size;
    line-height: $vgrid;
    margin: 0;
}
p {
    line-height: $vgrid;
    margin: 0 0 $vgrid 0;
}
a {
    color: $link_color;
}
ul {
    margin: 0 0 $vgrid 0;
    padding: 0 0 0 16px;
    li {
        margin: 0;
        padding: 0;
        line-height: $vgrid;
        ul {
            margin: 0;
        }
    }
}

ol {
    margin: 0 0 $vgrid 0;
    padding: 0 0 0 24px;
    li {
        margin: 0;
        padding: 0;
        line-height: $vgrid;
        ol {
            margin: 0;
        }
    }
}
.options {
    margin: 0 0 $vgrid 0;
    padding: 0;
    list-style: none;
    border-top: 1px dotted $gray_light;
    li {
        margin: 0;
        padding: 0;
    }
    a {
        display: block;
        padding: $vgrid / 4;
        border-bottom: 1px dotted $gray_light;
        text-decoration: none;
        &:hover {
            background: $zebra_bg;
        }
    }
    .current a {
        font-weight: bold;
        background: $zebra_bg;
    }
}
