// - - - - - - - - - - - - - - - - - - Utility Styles
.imgl {
    float: left;
    margin: 0 $gutter $vgrid 0;
}
.imgr {
    float: right;
    margin: 0 0 $vgrid $gutter;
}
.imgc {
    display: block;
    margin: 0 auto $vgrid auto;
}
.imgb {
    padding: 4px;
    border: 1px solid $gray_light;
}
.txtc {
    text-align: center;
}
.txtr {
    text-align: right;
}
pre {
    padding: $vgrid / 2 - 1px;
    border: 1px dotted $gray_light;
    background: white;
    font-family: monospace;
    margin: 0 0 $vgrid 0;
    line-height: $vgrid;
}

blockquote {
    margin: 0 0 $vgrid $vgrid / 2;
    padding: 0 $vgrid / 2 0 0;
    p {
        font-size: 110%;
        line-height: $vgrid;
        border-left: 2px solid $gray_light;
        padding-left: $vgrid / 2;
    }
}
#sd_alert {
    width: 100%;
    position: fixed;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    top: 0;
    left: 0;
    z-index: 999;
    overflow: hidden;
    text-shadow: 0 0 3px black;
    @include box-shadow(0, 0, 10px, black);
}
.sd_alert_success {
    background: #339900;
    color: white;
}
.sd_alert_error {
    background: red;
    color: white;
}
.sd_alert_info {
    background: #0066cc;
    color: white;
}
.sd_alert_warning {
    background: #ffcc00;
    color: white; }

.sd_p_msg {
    margin: 0 0 vgrid / 2 0;
    padding: 4px 4px 4px 20px;
    clear: both;
    @include radius(4px);
    background-position: 2px 50%;
    background-repeat: no-repeat;
}
.p_error {
    color: red;
    border: 1px solid red;
    background-color: #ffe5e5;
    background-image: url('#{$img}icon_error.png');
}
.p_warning {
    color: #534200;
    border: 1px solid #ffcc00;
    background-color: #fffae5;
    background-image: url('#{$img}icon_warning.png');
}
.p_help {
    color: #0066cc;
    border: 1px solid #0066cc;
    background-color: #e5effa;
    background-image: url('#{$img}icon_help.png');
}
.p_success {
    color: #336600;
    border: 1px solid #336600;
    background-color: #eaefe5;
    background-image: url('#{$img}icon_success.png'); }

.pager {
    margin: 20px 0;
    text-align: center;
    a {
        border: 1px solid $gray_light;
        padding: 4px 6px;
        text-decoration: none;
        &:hover {
            background-color: #ededed;
        }
    }
    .current {
        background-color: #ededed;
    }
}