// - - - - - - - - - - - - - - - - - - Colors
$color: 					#333333;
$highlight: 				#00366f;
$link_color: 				#00366f;

$gray_light: 				#CCCCCC;
$gray: 						#666666;
$gray_dark:					#333333;

$zebra_bg:					#F8F8F8;

// - - - - - - - - - - - - - - - - - - Grid
$col: 						62px;
$gutter: 					20px;
$vgrid: 					20px;
$font_size: 				14px;
$radius: 					3px;

// Miscelaneous
$img:						"img/";