// Include the helper files
@import "mixins";
@import "vars";
@import "basse";

// Include the separate styles
@import "type";
@import "slider";
@import "navigation";
@import "tables";
@import "utility";
@import "lightbox";


// Include the necessary forms
@import "forms";

@import "form_small";
@import "form_medium";
@import "form_large";
@import "form_full";

body {
    font-family: sans-serif;
    font-size: $font_size;
    color: $color;
    background-color: #282828;
}
#wrap {
    background: #FFFFFF;
}
#head {
    height: 100px;
    h1 {
        margin: 0;
        float: left;
        a {
            display: block;
            width: 250px;
            height: 80px;
            background-image: url('#{$img}logo.png');
            text-indent: -9999px;
        }
    }
}

#foot {
    border-top: 1px solid #CCC;
    font-size: 12px;
    padding: 20px 0;
    color: #999;
}